@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family:  'Lato', serif;
}

ul {
    margin: 0;
}


.w-23 {
    width: 23%;
}

.w-40 {
    width: 40%;
}

.w-77 {
    width: 77%;
}

.h-40 {
    width: 40%;
}

.fs-7{
    font-size:  0.875rem;
}



.p-4-2{
    padding: 2rem;
}


