.logo {
    background: url("../images/logo-ANSWER.svg") no-repeat;
}

.asideNav {
    height: 100vh;
    .list-group-item:not(.logo) {
        cursor: pointer;
        transition: all .6s ease;
        &:hover{
            color: $primary;
            border-left: 4px solid $primary;
        }
    }
}


.infoCard {
    line-height: 0;
    .infoCard__img {
        width: 40px;
        height: 40px;
    }
}


.navTop {
    .list-group-item:nth-child(2){
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
}

.list-group-item {
    border: 1px solid rgba(255, 255, 255, 0);
    line-height: 24px; //讓各list-group-item 行高一致
}


